body {
    background-color: beige;
}

h1, h2, h3, form {
    text-align: center;
}

#displayBox {
    height: 200px;
    width: 200px;
    border-style: solid;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#responseBox {
    height: 200px;
    width: 200px;
    border: 5px solid purple;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    display: block;
    margin: 0 auto;

}

button > a {
    text-decoration: none;
}


.num-content {
    font-size: 50px;
}

.hidden {
    display: none !important;
}

.present {
    display: flex !important;
}




