{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}
<h1>Test</h1>
<div id="display-box">
</div>
<div id="response-box" class="hidden">
    <form action="/" method="POST">
        <p>What was the sequence?</p>
        <input type="text" name="response" id="number-sequence">
        <button type="button" id="response-button">Confirm</button>
    </form>
</div>
<button type="button" id="return-button">
    <a href="/">Return</a>
</button>
<script>
    const numbers = {{ num_list | tojson }};
    const numSequence = {{ num_sequence | tojson }}
    const displayBox = document.getElementById("display-box");
    const responseBox = document.getElementById("response-box");
    displayBox.classList.add("num-content");
    
    let i = 0;

    function showNextNumber() {

        if (i < numbers.length) {;
            displayBox.textContent = numbers[i];
            i++;
            setTimeout(showNextNumber, 1000);
        } else {
           displayBox.classList.add("hidden");
           responseBox.classList.add("present");
        }
    }
    showNextNumber()
    responseBox.classList.remove("hidden");

    document.getElementById("response-button").addEventListener("click", function(event) {
        const userResponse = document.getElementById("number-sequence").value;
        if (userResponse == numSequence) {
            console.log("This is the correct answer!")
        } else {
            console.log("This is the incorrect answer!", numSequence, userResponse)
        }
    })
</script>
{% endblock %}