{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}
<h1>Test</h1>
<div id="display-box">
</div>
<div id="response-box" class="hidden">
    <form action="/" method="POST">
        <input type="text" name="response" id="number-sequence" placeholder="What was the response?">
        <button type="button" id="response-button">Confirm</button>
    </form>
    <form action="/finish" method="POST" id="response-form">
    </form>
</div>
<button type="button" id="return-button">
    <a href="/">Return</a>
</button>
<script>

    async function sendData(digitSpan) {
        const response = await fetch("/finish", {
            method: "POST",
            headers: {"Content-Type": "application/json" },
            body: JSON.stringify({dspan: digitSpan})
        });

        const data = await response.json();
        numbers = data["num_list"];
        numSequence = data["num_sequence"];
    };

    function showNextNumber() {
        if (i < numbers.length) {;
            displayBox.textContent = numbers[i];
            i++;
            setTimeout(showNextNumber, 1000);
        } else {
           displayBox.classList.add("hidden");
           responseBox.classList.add("present");
        }
    };


    var numbers = {{ num_list | tojson }};
    var numSequence = {{ num_sequence | tojson }};
    displayBox = document.getElementById("display-box");
    responseBox = document.getElementById("response-box");
    console.log(responseBox)
    responseForm = document.getElementById("response-form");
    displayBox.classList.add("num-content");
    window.dSpan = numbers.length + 1;
    
    let i = 0;

    showNextNumber();

    document.getElementById("response-button").addEventListener("click", function(event) {
        const userResponse = document.getElementById("number-sequence").value;
        if (userResponse == numSequence) {

            console.log("This is the correct answer!", numbers.length + 1)

            const advanceButton = document.createElement('button');
            advanceButton.setAttribute("name", "continue");
            advanceButton.setAttribute("type", "button");
            advanceButton.setAttribute("id", "advance-button");
            advanceButton.textContent = `Try ${numbers.length + 1} numbers next?`; 

            const retryButton = document.createElement("button");
            retryButton.setAttribute("name", "retry");
            retryButton.setAttribute("type", "submit");
            retryButton.textContent = "Retry?";

            responseBox.appendChild(advanceButton);
            responseBox.appendChild(retryButton);


        } else {
            console.log("This is the incorrect answer!", numSequence, userResponse);
        }
    });
    
    document.addEventListener("click", function(event) {
        if (event.target.id == "advance-button") {
            try {
                sendData(window.dSpan);
                i = 0;
                console.log(i);
                displayBox.classList.remove("hidden");
                responseBox.classList.remove("present");
                showNextNumber();
            } catch (e) {
            console.log(e);
            }
        }
    });

</script>
{% endblock %}